# 1. Introduction

# 2. Data preprocessing

###### Import libaries

In [250]:
import pandas as pd
import matplotlib.pyplot as plt

In [251]:
absenteeism = pd.read_excel("Absenteeism_at_work_Project.xls")
absenteeism.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26.0,7.0,3,1,289.0,36.0,13.0,33.0,239554.0,...,0.0,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,4.0
1,36,0.0,7.0,3,1,118.0,13.0,18.0,50.0,239554.0,...,1.0,1.0,1.0,1.0,0.0,0.0,98.0,178.0,31.0,0.0
2,3,23.0,7.0,4,1,179.0,51.0,18.0,38.0,239554.0,...,0.0,1.0,0.0,1.0,0.0,0.0,89.0,170.0,31.0,2.0
3,7,7.0,7.0,5,1,279.0,5.0,14.0,39.0,239554.0,...,0.0,1.0,2.0,1.0,1.0,0.0,68.0,168.0,24.0,4.0
4,11,23.0,7.0,5,1,289.0,36.0,13.0,33.0,239554.0,...,0.0,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,2.0

In [252]:
column = absenteeism.shape[1]
row = absenteeism.shape[0]
print(f"Dataset- columnn: {column} and row: {row}")

Dataset- columnn: 21 and row: 740

In [253]:
# We see that the column names are too long and do not need to be, so we will shorten the column names
absenteeism = absenteeism.rename(columns = {'ID':'id',
                                              'Reason for absence': 'reason',
                                              'Month of absence': 'month', 
                                              'Day of the week': 'day',
                                              'Seasons':'seasons',
                                              'Transportation expense': 'trans_exp', 
                                              'Distance from Residence to Work': 'distance', 
                                              'Service time': 'serv_time',
                                              'Age':'age',
                                              'Work load Average/day ': 'work_load', 
                                              'Hit target': 'hit_tg', 
                                              'Disciplinary failure': 'disc_fail',
                                              'Education':'education',
                                              'Son': 'num_child',
                                              'Social drinker': 'drinker', 
                                              'Social smoker': 'smoker', 
                                              'Pet':'num_pet',
                                              'Height': 'height',
                                              'Weight': 'weight',
                                              'Body mass index': 'bmi', 
                                              'Absenteeism time in hours': 'abs_hours'})

In [254]:
absenteeism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         740 non-null    int64
 1   reason     737 non-null    float64
 2   month      739 non-null    float64
 3   day        740 non-null    int64
 4   seasons    740 non-null    int64
 5   trans_exp  733 non-null    float64
 6   distance   737 non-null    float64
 7   serv_time  737 non-null    float64
 8   age        737 non-null    float64
 9   work_load  730 non-null    float64
 10  hit_tg     734 non-null    float64
 11  disc_fail  734 non-null    float64
 12  education  730 non-null    float64
 13  num_child  734 non-null    float64
 14  drinker    737 non-null    float64
 15  smoker     736 non-null    float64
 16  num_pet    738 non-null    float64
 17  weight     739 non-null    float64
 18  height     726 non-null    float64
 19  bmi        709 non-null    float64
 20  abs_hours  718 non-null    float64
dtypes: float64(18), int64(3)
memory usage: 121.5 KB

In [255]:
absenteeism.head()

,id,reason,month,day,seasons,trans_exp,distance,serv_time,age,work_load,...,disc_fail,education,num_child,drinker,smoker,num_pet,weight,height,bmi,abs_hours
0,11,26.0,7.0,3,1,289.0,36.0,13.0,33.0,239554.0,...,0.0,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,4.0
1,36,0.0,7.0,3,1,118.0,13.0,18.0,50.0,239554.0,...,1.0,1.0,1.0,1.0,0.0,0.0,98.0,178.0,31.0,0.0
2,3,23.0,7.0,4,1,179.0,51.0,18.0,38.0,239554.0,...,0.0,1.0,0.0,1.0,0.0,0.0,89.0,170.0,31.0,2.0
3,7,7.0,7.0,5,1,279.0,5.0,14.0,39.0,239554.0,...,0.0,1.0,2.0,1.0,1.0,0.0,68.0,168.0,24.0,4.0
4,11,23.0,7.0,5,1,289.0,36.0,13.0,33.0,239554.0,...,0.0,1.0,2.0,1.0,0.0,1.0,90.0,172.0,30.0,2.0

In [256]:
#Check null
absenteeism.isnull().sum()

id            0
reason        3
month         1
day           0
seasons       0
trans_exp     7
distance      3
serv_time     3
age           3
work_load    10
hit_tg        6
disc_fail     6
education    10
num_child     6
drinker       3
smoker        4
num_pet       2
weight        1
height       14
bmi          31
abs_hours    22
dtype: int64

In [257]:
# replace null by mean of column
def replace_null_with_mean(df):
    for col in df.columns:
        if df[col].isnull().any():
            for i in range(len(df[col])):
                if pd.isnull(df[col][i]):
                    if i == 0:
                        df[col][i] = df[col][i+1]
                        df[col][i] = round(df[col][i],0)
                    elif i == len(df[col]) - 1:
                        df[col][i] = df[col][i-1]
                        df[col][i] = round(df[col][i],0)
                    else:
                        df[col][i] = (df[col][i-1] + df[col][i+1]) / 2
                        df[col][i] = round(df[col][i],0)
    return df

absenteeism = replace_null_with_mean(absenteeism)

C:\Users\phamv\AppData\Local\Temp\ipykernel_23604\1689352245.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = (df[col][i-1] + df[col][i+1]) / 2
C:\Users\phamv\AppData\Local\Temp\ipykernel_23604\1689352245.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = round(df[col][i],0)

In [258]:
null_counts = absenteeism.isnull().sum()
columns_with_null = null_counts[null_counts != 0]

for col, null_count in columns_with_null.items():
    print(f"{col}: {null_count}")

trans_exp: 2
work_load: 4
hit_tg: 2
disc_fail: 2
education: 6
height: 10
bmi: 22
abs_hours: 5

In [259]:
# There are still null values because the upper and lower bounds of these cells are both 0, so the returned result is 0.

def replace_null_with_avg(df):
    for col in df.columns:
        if df[col].isnull().any():
            mean_value = df[col].mean()
            df[col] = df[col].fillna(mean_value)
            df[col] = round(df[col], 0)
    return df
absenteeism = replace_null_with_avg(absenteeism)

In [260]:
null_columns = []
not_null_columns = []

for col in absenteeism.columns:
    if absenteeism[col].isnull().any():
        null_columns.append(col)
    else:
        not_null_columns.append(col)

if len(null_columns) > 0:
    print("Columns with null values:")
    for col in null_columns:
        print(col)
else:
    if len(not_null_columns) == len(absenteeism.columns):
        print("Not Value")

Not Value

In [261]:
#convert some columns to the correct data type
column_to_convert = ['reason','month', 'trans_exp', 'distance', 'serv_time', 'age',
                    'hit_tg', 'disc_fail', 'education', 'num_child', 'drinker', 'smoker', 'num_pet', 'abs_hours']
absenteeism[column_to_convert] = absenteeism[column_to_convert].astype('Int64')
absenteeism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         740 non-null    int64
 1   reason     740 non-null    Int64
 2   month      740 non-null    Int64
 3   day        740 non-null    int64
 4   seasons    740 non-null    int64
 5   trans_exp  740 non-null    Int64
 6   distance   740 non-null    Int64
 7   serv_time  740 non-null    Int64
 8   age        740 non-null    Int64
 9   work_load  740 non-null    float64
 10  hit_tg     740 non-null    Int64
 11  disc_fail  740 non-null    Int64
 12  education  740 non-null    Int64
 13  num_child  740 non-null    Int64
 14  drinker    740 non-null    Int64
 15  smoker     740 non-null    Int64
 16  num_pet    740 non-null    Int64
 17  weight     740 non-null    float64
 18  height     740 non-null    float64
 19  bmi        740 non-null    float64
 20  abs_hours  740 non-null    Int64
dtypes: Int64(14), float64(4), int64(3)
memory usage: 131.6 KB

Check the correctness of the data

In [262]:
unique_age = absenteeism['age'].unique()

out_of_range_age = [age for age in unique_age if age < 18 or age > 65]

if len(out_of_range_age) > 0:
    print("The values are not between 18 and 65:", out_of_range_age)
else:
    print("All values range from 18 to 65")

All values range from 18 to 65

In [263]:
unique_months = absenteeism['month'].unique()

out_of_range_months = [month for month in unique_months if month < 1 or month > 12]

if len(out_of_range_months) > 0:
    print("The values are not between 1 and 12:", out_of_range_months)
else:
    print("All values range from 1 to 12.")

The values are not between 1 and 12: [0]

In [264]:
print("Number of 0 values: ", (absenteeism['month'] == 0).sum())

Number of 0 values:  3

In [265]:
# Replace month = 0 by 12
absenteeism['month'] = absenteeism['month'].replace(0,12)

In [266]:
absenteeism.columns

Index(['id', 'reason', 'month', 'day', 'seasons', 'trans_exp', 'distance',
       'serv_time', 'age', 'work_load', 'hit_tg', 'disc_fail', 'education',
       'num_child', 'drinker', 'smoker', 'num_pet', 'weight', 'height', 'bmi',
       'abs_hours'],
      dtype='object')

In [267]:
# Remove column id
absenteeism =  absenteeism.drop(columns='id')